$primary: #0D6EFD;
$success: #198754;
$bar-color: rgba(116, 255, 78, 1);
$padding-sm: .25rem .5rem;
$font-size-sm: .875rem;

.btn-secondary, .btn-secondary.disabled {
  background-color: $primary;
}

.bar {
  .btn-secondary, .btn-secondary.disabled {
    background-color: $success;
  }

  .dropdown-item {
    border-bottom: 1px solid black;
  }

  border-bottom: 1px solid black;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-bottom: 1vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: $bar-color;
  z-index: 1;
}

.main {
  margin-top: 10vh;
}

.btn {
  padding: $padding-sm;
  font-size: $font-size-sm;
}

.modal-dialog {
  display: flex;
  align-items: center;
  margin: auto;
  min-height: calc(100% - 3.5rem);

  .modal-header {
    .close {
      display: none;
    }
  }
}

h1 {
  margin: auto;
  text-align: center;
}

.b-form-component {
  width: max-content;
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.right {
  text-align: right;
}

.dropdown-menu {
  max-height: 90vh;
  overflow-y: auto;
}