$primary: #0D6EFD;
$success: #198754;
$bar-color: rgba(116, 255, 78, 1);
$padding-sm: .25rem .5rem;
$font-size-sm: 0.85rem;

html {
  font-size: 0.85rem;
}

.btn-secondary, .btn-secondary.disabled {
  background-color: $primary;
}

.bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 1vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: $bar-color;
  z-index: 10;

  .btn-secondary, .btn-secondary.disabled {
    background-color: $success;
  }
}

.main {
  height: 100%;
  margin-top: 8vh;
}

.btn {
  padding: $padding-sm;
  font-size: $font-size-sm;
  margin: .1rem;
}

.modal-dialog {
  display: flex;
  align-items: center;
  margin: auto;
  min-height: calc(100% - 3.5rem);

  .modal-header {
    padding: 0;

    .modal-title {
      padding: 15px;
    }

    .modal-title:empty {
      padding: 0;
    }

    .close {
      display: none;
    }
  }
}

h1 {
  margin: auto;
  text-align: center;
}

.b-form-component {
  width: max-content;
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.right {
  text-align: right;
}

.dropdown-menu {
  max-height: 90vh;
  overflow-y: auto;
}

.b-sidebar.b-sidebar-right {
  .b-sidebar-header {
    display: flex;
    flex-direction: row-reverse;

    .close {
      margin-left: auto;
      margin-right: 0;
    }
  }

  .jobs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;

    .info {
      font-size: 2.1vh;
    }
  }
}

.n-form > .row {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;

  > div {
    margin: 5px 0;
  }
}

.link-button {
  padding: 0;
  width: 100%;

  .row {
    width: 100%;

    div {
      display: flex;
      align-items: center;
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
      margin-top: 0;
    }

    div:last-child {
      justify-content: end;
      align-self: flex-start;
      margin-right: 0;
    }
  }
}

label {
  text-align: center;
  margin: auto;
  margin-left: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;

  > div {
    padding-left: 0;
    padding-right: 0;
    margin-top: 5px;
  }

  > div:first-child {
    margin-left: 5px;
    text-align: left;
  }

  > div:last-child {
    margin-right: 5px;
  }
}

.b-form-datepicker {
  max-width: 80%;
}

.main-table {
  height: 100%;
  display: flex;
  flex-direction: column;
}